<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"><!-- th va a ser un prefijo -->
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <section th:replace="~{articulo/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{articulo/fragmentos :: agregarArticulo}"/> 
        <section th:replace="~{articulo/fragmentos :: listadoArticulos}"/>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
