<html xmlns:th="http://thymeleaf.org"><!-- th va a ser un prefijo -->
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:replace="~{categoria/fragmentos :: editarCategoria}"/> 
        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>
